<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Go HTMX</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"
        integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
        crossorigin="anonymous"></script>
</head>

<body hx-boost="true">
    <form action="/issues" method="get">
        <legend>Get Repository Issues</legend>
        <label for="repository">Repository Name</label>
        <input type="text" name="repository" placeholder="Enter repo name..."
            value="{{if .RepositoryName}}{{.RepositoryName}}{{end}}">

        <button>Search</button>
    </form>

    {{if .RepositoryName}}
    <div id="results">
        {{template "results.html" .}}
    </div>
    {{end}}
    <a href="/">Back</a>
</body>

</html>