<hr class="mt-3">
{{if .Success}}
<h3 class="font-bold text-lg">Issues For Repository: {{.Owner}}/{{.RepositoryName}}</h3>
<div id="results" class="mt-3">
    {{if not .Issues}}
    <p class="text-center text-md font-semibold">No Issues Found</p>
    {{else}}
    <table class="text-center w-full">
        <tr>
            <th class="hidden sm:table-cell">Number</th>
            <th>Title</th>
            <th class="hidden sm:table-cell">Author</th>
            <th class="hidden sm:table-cell">Labels</th>
        </tr>
        {{range .Issues}}
        {{template "issue.html" .}}
        {{end}}
    </table>
    <div id="pagination" class="flex justify-around">
        <button
            class="{{if not .PreviousPage}}invisible{{end}} text-white font-bold rounded mt-6 py-2 px-6 bg-pink-300 hover:bg-pink-500 drop-shadow-sm"
            hx-get="/previous-issues?owner={{.Owner}}&repoName={{.RepositoryName}}&cursor={{.BeforeCursor}}"
            hx-target="#results" hx-select="#results">
            <i class="fa-solid fa-chevron-left" style="color: #ffffff;"></i>
        </button>
        <button
            class="{{if not .NextPage}}invisible{{end}} text-white font-bold rounded mt-6 py-2 px-6 bg-indigo-500 hover:bg-indigo-700 drop-shadow-sm"
            hx-get="/next-issues?owner={{.Owner}}&repoName={{.RepositoryName}}&cursor={{.AfterCursor}}"
            hx-target="#results" hx-select="#results">
            <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i>
        </button>
    </div>
</div>
{{end}}
{{else}}
<h3 class="font-bold text-lg">Request Failed</h3>
<div class="mt-3">
    <p>You either do not have access to the repository or the repository entered was invalid</p>
    <p class="mt-3">Please try again with a valid Owner and Repository in one of the
        following formats:</p>
    <ol class="mt-2">
        <li class="font-extralight list-disc ml-6">https://github.com/OwnerName/RepositoryName</li>
        <li class="font-extralight list-disc ml-6">github.com/OwnerName/RepositoryName</li>
        <li class="font-extralight list-disc ml-6">OwnerName/RepositoryName</li>
    </ol>
</div>
{{end}}