{{define "content"}}
<div class="p-6 w-4/5 bg-white rounded drop-shadow-2xl">
    <form action="/issues" method="get" class="flex flex-col" hx-indicator="#indicator">
        <legend class="font-bold text-xl text-center">Get Repository Issues</legend>
        <label class="font-semibold pt-6" for="link">Repository Link</label>
        <input class="bg-gray-200 rounded p-3" type="text" name="link" placeholder="https://github.com/railwayapp/cli"
            value="{{if .RepositoryName}}{{.Owner}}/{{.RepositoryName}}{{end}}">

        <a class="text-white font-bold rounded text-center mt-3 py-2 bg-gray-300 hover:bg-gray-500 drop-shadow-sm"
            href="/setup">Back</a>

        <button class="text-white font-bold rounded mt-6 py-2 bg-indigo-500 hover:bg-indigo-700 drop-shadow-sm">
            Search
            <i id="indicator" class="htmx-indicator fa-solid fa-gear fa-spin"></i>
        </button>

        <a class="text-white font-bold rounded text-center mt-3 py-2 bg-pink-300 hover:bg-pink-500 drop-shadow-sm"
            href="/">Clear</a>

    </form>

    {{if .RequestMade}}
    <div>
        {{template "issueResults.html" .}}
    </div>
    {{end}}
</div>

<style>
    .htmx-indicator {
        display: none;
    }

    .htmx-request .htmx-indicator {
        display: inline-block
    }

    .htmx-request.htmx-indicator {
        display: inline-block
    }
</style>
{{end}}